<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recharger</title>
    <link rel="stylesheet" href="/src//css/dashboard.css">
</head>
<body>
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <img src="/assets/e-Wallet6.gif" alt="Logo E-Wallet">
      <h2>E-Wallet</h2>
    </div>
    <ul class="sidebar-menu">
      <li class="active"><a href="#">Tableau de bord</a></li>
      <li><a href="#">Transactions</a></li>
      <li><a href="#">Envoyer</a></li>
      <li><a href="profil.html">Profil</a></li>
      <li><a href="index.html">Se déconnecter</a></li>
    </ul>
  </aside>

  <!-- Contenu principal -->
  <main class="main-content">

    <!-- Cartes du dashboard -->
    <section class="dashboard-cards">
    <div class="card balance-card" >
       <!-- Actions -->
  <div class="card-actions">
    <label>
      Password :
      <input type="password" id="password" placeholder="Password" required>
    </label>
    

    <label>
      Montant (MAD) :
      <input type="number" id="montant" placeholder="Amount" required>
    </label>
    
    <label>
      Nº Carte :
      <input type="text" id="numbercard" placeholder="Nº Carte" required>
    </label>

    <button type="submit" id="recharger" style="width: auto; margin:auto 40%;">Recharger</button>
  

 
  <button style="width: auto; margin:auto 40%;" onclick="window.location.href='dashboard.html'">
    Retour
  </button>
  </div>
  </div>

    </section>
  </main>


  <script type="module" src="../Controller/recharger.js"></script>
</body>
</html>